@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Urbanist&display=swap');

* {
    padding: none;
    margin: none;
    font-family: Roboto, sans-serif;
}

body {
    background: #19686d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}

section#conteudo {
    width: 800px;
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;

    .div-container {
        .titulo {
            font-size: 32px;
            margin-bottom: 15px;
        }
        .tabela {
            display: flex;
            align-items: center;

            .imc {
                margin-right: 150px;
            }
        }
    }
    #formulario {
        display: flex;
        flex-direction: column;

        input {
            padding: 8px;
            margin: 10px 0 10px 0;
            font-size: 16px;
        }

        button {
            border: none;
            border-radius: 4px;
            color: #fff;
            background-color: #19686d;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            margin-top: 5px;
            cursor: pointer;
        }
    }
    #resultado{
        margin-top: 20px;
        font-size: 20px;
        text-transform: uppercase;
    }
}


